<p>The calculated times for the current time and location are:</p>

<p>solarNoon time: {{solarNoon}}</p>
<p>nadir time: {{nadir}}</p>
<p>sunrise time: {{sunrise}}</p>
<p>sunset time: {{sunset}}</p>
<p>sunriseEnd time: {{sunriseEnd}}</p>
<p>sunsetStart time: {{sunsetStart}}</p>
<p>dawn time: {{dawn}}</p>
<p>dusk time: {{dusk}}</p>
<p>nauticalDawn time: {{nauticalDawn}}</p>
<p>nauticalDusk time: {{nauticalDusk}}</p>
<p>nightEnd time: {{nightEnd}}</p>
<p>night time: {{night}}</p>
<p>goldenHourEnd time: {{goldenHourEnd}}</p>
<p>goldenHour time: {{goldenHour}}</p>