<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Garden Ligths IOT</title>
    <meta name="description" content="Pushy is an off-canvas navigation menu for your website.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/demo.css">
    <!-- Pushy CSS -->
    <link rel="stylesheet" href="css/pushy.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<header class="site-header push">IOT Home control page</header>

{{> nav }}

<!-- Your Content -->
<div id="container">
    <!-- Menu Button -->
    <button class="menu-btn">&#9776; Menu</button>

    {{{ body }}}

</div>
<footer class="site-footer push">Sources at: https://github.com/tomasbublik</footer>

<!-- Pushy JS -->
<script src="js/pushy.min.js"></script>
</body>
</html>